* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;

}
a{
    text-decoration: none;
}
header{
    justify-content: center;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    background-color: #999;
    color: black;
}
header ul{
    display: flex;
    gap: 50px;
    font-size: 22px;
    justify-content: center;
}
header ul li a {
    color: black;
}
ul li a:hover {
    color: aqua;
}

.new {
    background-image: url(../image/202108031405-main.jpeg);
    width: 90%;
    height: 80vh;
    background-size: cover;
    color: aliceblue;
    padding-top: 150px;
    padding-left: 60px;
    font-size: 40px;
    margin-top: 50px;
    border: 7px solid rgb(161, 160, 160);
    margin-left: 75px;
    margin-bottom: 50px;
}
.shop {
    padding-top: 70px;
    font-size: 22px;
}
.shop-now {
    all: unset;
    padding: 20px 60px;
    background-color: black;
    color: aliceblue;
}
.shopnow {
    margin-top: 50px;
    background-color: black;
    color: aliceblue;
    width: 16%;
    font-size: 20px;
}
.shop-now:hover {
    background-color: aliceblue;
    color: black;
}
.on {
    text-align: center;
    margin-bottom: 50px;
}
.pin {
    width: 250px;
    height: 300px;
}
.pin2 {
    width: 250px;
    height: 300px;
}
.pin3 {
    width: 250px;
    height: 300px;
}
.pin4 {
    width: 250px;
    height: 300px;
}
.striped {
    text-align: center;  
    margin-left: -150px;  
    padding-top: 20px;
    padding-bottom: 20px;
}
.striped2 {
    text-align: center;  
    margin-left: -150px;  
    padding-top: 20px;
    padding-bottom: 20px;
}
.striped3 {
    text-align: center;  
    margin-left: -150px;  
    padding-top: 20px;
    padding-bottom: 20px;
}
.striped4 {
    text-align: center;  
    margin-left: -150px;  
    padding-top: 20px;
    padding-bottom: 20px;
}

.sakson {
    text-align: center;
    margin-bottom: 50px;
    margin-left: -150px;
}
.sakson2 {
    text-align: center;
    margin-bottom: 50px;
    margin-left: -150px;
}
.sakson3 {
    text-align: center;
    margin-bottom: 50px;
    margin-left: -150px;
}
.sakson4 {
    text-align: center;
    margin-bottom: 50px;
    margin-left: -150px;
}
.piin {

    width: 24%;
    margin-left: -25px;
    position: absolute;
}
.piin2 {

    width: 24%;
    margin-left: -25px;
    position: absolute;
}
.piin3 {

    width: 24%;
    margin-left: -25px;
    position: absolute;
}
.piin4 {

    width: 24%;
    margin-left: -25px;
    position: absolute;
}
.sale {
    background-color: black;
    color: aliceblue;
    width: 10%;
    border-radius: 50px;
    padding: 28px 35px;
    margin-left: 200px;
    position: relative;
    top: -10px;

}
.sale4 {
    background-color: black;
    color: aliceblue;
    width: 7%;
    border-radius: 50px;
    padding: 28px 35px;
    margin-left: 200px;
    position: relative;
    top: -10px;

}
.sale2 {
    background-color: black;
    color: aliceblue;
    width: 7%;
    border-radius: 50px;
    padding: 28px 35px;
    margin-left: 200px;
    position: relative;
    top: -10px;

}
.sale3 {
    background-color: black;
    color: aliceblue;
    width: 7%;
    border-radius: 50px;
    padding: 28px 35px;
    margin-left: 200px;
    position: relative;
    top: -10px;

}
.pin:hover {
    margin-top: -5px;
    opacity: .5;
    transition: 1s;
}
.sakson {
    margin-bottom: 50px;
    margin-left: -150px;
}
.sahifa {
    display: flex;
    margin-left: 100px;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    margin-bottom: 50px;
}
.ikkinchisi, .uchinchisi, .tortinchisi {
    margin-left: 82px;
}
.pin2:hover {
    opacity: .7;
    transition: 1s;
    margin-top: -5px;
}
.pin3:hover {
    opacity: .7;
    transition: 1s;
    margin-top: -5px;
}
.pin4:hover {
    opacity: .7;
    transition: 1s;
    margin-top: -5px;
}





.Category {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}


.sahifa2 {
    display: flex;
    gap: 100px;
    margin-left: 90px;
}
.denim {
    width: 400px;
    height: 450px;
}
.women {
    width: 400px;
    height: 450px;
}
.men {
    width: 400px;
    height: 450px;
}
.uucchh {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}
.uucchh2 {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    width: 100px;
    margin-left: 150px;
}
.uucchh3 {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    width: 50%;
}

.top {
    text-align: center;
    font-size: 22px;
    margin-bottom: 50px;
}

.star {
    color: gold;
    margin-left: 60px;
    margin-top: -20px;
}
.starr {
    color: black;
    margin-left: 5px;
    margin-top: 0px;

}

.starr4 {
    color: gold;
    margin-left: 5px;
    margin-top: 0px;

}

.sstar {
    display: flex;
    margin-top: 52px;
    margin-left: 50px;
}
.tortinchisii {
    margin-left: 1220px;
    margin-top: -125px;
}

.piinne {

    width: 24%;
    margin-left: -25px;
    position: absolute;
}

.pinne {
    width: 250px;
    height: 300px;
}

.stripedne {
    text-align: center;  
    margin-left: -150px;  
    padding-top: 20px;
    padding-bottom: 20px;
}

.saksonne {
    text-align: center;
    margin-bottom: 50px;
    margin-left: -150px;
}

.salene {
    background-color: black;
    color: aliceblue;
    width: 10%;
    border-radius: 50px;
    padding: 28px 35px;
    margin-left: 200px;
    position: relative;
    top: -10px;

}
.start2 {
    color: gold;
}






.piinnem {

    width: 24%;
    margin-left: -25px;
    position: absolute;
}

.pinnem {
    width: 250px;
    height: 300px;
}

.stripednem {
    text-align: center;  
    margin-left: -150px;  
    padding-top: 20px;
    padding-bottom: 20px;
}

.saksonnem {
    text-align: center;
    margin-bottom: 50px;
    margin-left: -150px;
}

.salenem {
    background-color: black;
    color: aliceblue;
    width: 10%;
    border-radius: 50px;
    padding: 28px 35px;
    margin-left: 200px;
    position: relative;
    top: -10px;

}


.start1 {
    color: gold;
}




.piinnema {

    width: 24%;
    margin-left: -25px;
    position: absolute;
}

.pinnema {
    width: 250px;
    height: 300px;
}

.stripednema {
    text-align: center;  
    margin-left: -150px;  
    padding-top: 20px;
    padding-bottom: 20px;
}

.saksonnema {
    text-align: center;
    margin-bottom: 50px;
    margin-left: -150px;
}

.salenema {
    background-color: black;
    color: aliceblue;
    width: 10%;
    border-radius: 50px;
    padding: 28px 35px;
    margin-left: 200px;
    position: relative;
    top: -10px;

}

.by {
    font-size: 24px;
}
.store:hover {
    color: chocolate;
    transition: .6s;
}
.modern {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
    margin-top: 30px;
}

.start {
    color: gold;
}



.piinnemat {

    width: 24%;
    margin-left: -25px;
    position: absolute;
}

.pinnemat {
    width: 250px;
    height: 300px;
}

.stripednemat {
    text-align: center;  
    margin-left: -150px;  
    padding-top: 20px;
    padding-bottom: 20px;
}

.saksonmemat {
    margin-left: 100px;
}

.salenemat {
    background-color: black;
    color: aliceblue;
    width: 10%;
    border-radius: 50px;
    padding: 28px 35px;
    margin-left: 200px;
    position: relative;
    top: -10px;

}

.denim:hover {
    opacity: .7;
    transition: .6s;

}
.men:hover {
    opacity: .7;
    transition: .6s;

}
.women:hover {
    opacity: .7;
    transition: .6s;

}
.pinne:hover {
    opacity: .7;
    transition: .6s;

}
.pinnem:hover {
    opacity: .7;
    transition: .6s;

}
.pinnema:hover {
    opacity: .7;
    transition: .6s;
}
.pinnemat:hover {
    opacity: .7;
    transition: .6s;
}

.latest {
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;
}
.asdfg1:hover {
    opacity: .7;
    transition: .6s;
}
.asdfg2:hover {
    opacity: .7;
    transition: .6s;
}
.asdfg3:hover {
    opacity: .7;
    transition: .6s;
}

.oxirgi {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    width: 70%;
    margin-left: 90px;
    text-align: center;
}

.asdfg1 {
    width: 400px;
    height: 400px;
}
.asdfg2 {
    width: 400px;
    height: 400px;
}
.asdfg3 {
    width: 400px;
    height: 400px;
}

.sdfg {
    padding-top: 20px;
    padding-bottom: 20px;
}
.oxirgilar {
    display: flex;
    margin-top: 50px;
    text-align: center;
}
.oxir {
    width: 280px;
    height: 280px;
    margin-left: 95px;
}
.oxir:hover {
    opacity: .7;
    transition: .6s;
    margin-top: -3px;
    position: relative;
}
.ooxir1 {
    text-align: center;
    margin-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.opl1 {
    margin-left: 50px;
}
.opl2 {
    margin-left: 60px;
}
.opl3 {
    padding-top: 20px;
    margin-left: 50px;
}
@media(max-width:630px) {
    header {
        justify-content: center;
        width: 100%;
        padding: 20px 60px;
        flex-direction: column;
    }
    ul {
        flex-direction: column;
        text-align: center;
    }
    .new {
        margin-left: 25px;
        font-size: 17px;
        width: 90%;
    }
    .shopnow {
        width: 186px;
        font-size: 15px;
    }
    .pin {
        width: 150px;
        height: 200px;
        margin-left: -20px;
    }
    .sale {
        font-size: 10px;
        padding: 20px 30px;
        margin-left: -1px;
        margin-left: 70px;
    }
    .striped {
        font-style: 8px;
        margin-left: 5px;
    }
    .sakson {
        margin-left: 1px;
    }
    .pin2 {
        width: 150px;
        height: 200px;
        margin-left: -20px;
    }
    .sale2 {
        font-size: 10px;
        padding: 20px 30px;
        margin-left: -1px;
        margin-left: 70px;
    }
    .striped2 {
        font-style: 8px;
        margin-left: 5px;
    }
    .sakson2 {
        margin-left: 1px;
    }
    .pin3 {
        width: 150px;
        height: 200px;
    }
    .pin4 {
        width: 150px;
        height: 200px;
    }
    .uchinchisi {
        margin-top: 400px;
        margin-left: -395px;
    }
    .tortinchisi {
        margin-top: 400px;
        margin-left: 50px;
    }
    .sale3 {
        margin-left: -1px;
        margin-left: 100px;
        font-size: 10px;
        padding: 20px 30px;
    }
    .striped3 {
        margin-left: 20px;
    }
    .sakson3 {
        margin-left: 20px;
    }
    .striped4 {
        margin-left: 20px;
    }
    .sakson4 {
        margin-left: 20px;
    }
    .sale4 {
        margin-left: -1px;
        margin-left: 100px;
        font-size: 10px;
        padding: 20px 30px;
    }
    .denim {
        margin-left: -20px;
    }
    .men {
        width: 170px;
        height: 230px;
        margin-top: 280px;
        margin-left: -250px;
    }

    .women {
        margin-top: 280px;
        width: 170px;
        height: 230px;
        margin-left: -110px;
    }
    .uucchh2 {
        margin-left: -220px;
    }
    .uucchh3 {
        width: 100px;
        margin-left: -70px;
    }
    .top {
        margin-top: 300px;
        font-size: 20px;
    }
    .pinne {
        width: 150px;
        height: 200px;
        margin-left: -30px;
    }
    .stripedne {
        font-size: 16px;
        width: 150px;
        margin-left: -30px;
    }
    .saksonne {
        font-size: 15px;
        margin-left: -30px;
        margin-top: 5px;
    }
    .salene {
        margin-left: -1px;
        margin-left: 70px;
    }
    .pinnem {
        width: 150px;
        height: 200px;
        margin-left: 150px;
        margin-top: -75px;
    }
    .stripednem {
        font-size: 16px;
        width: 150px;
        margin-left: 150px;
    }
    .saksonnem {
        font-size: 15px;
        margin-left: 200px;
        margin-top: 20px;
    }
    .salenem {
        margin-left: -1px;
        margin-left: 250px;
        margin-top: -75px;
    }
    .start {
        margin-left:166px;
        width: 150px;
    }
    .start1 {
        margin-left: -6px;
        width: 150px;
    }
    .pinnema {
        width: 150px;
        height: 200px;
        margin-left: -60px;
        margin-top: -20px;
    }
    .stripednema {
        font-size: 16px;
        margin-left: -85px;
    }
    .saksonnema {
        margin-left: -80px;
    }
    .start2 {
        margin-left: -40px;
        margin-top: -20px;
    }

    .pinnemat {
        width: 150px;
        height: 200px;
        margin-left: -885px;
        margin-top: 14px;
    }
    .stripednemat {
        margin-left: -1740px;
        font-size: 16px;
    }
    .saksonmemat {
        margin-left: -830px;
    }
    .sstar {
        margin-left: -920px;
    }
    .salenemat {
        margin-left: -780px;
        margin-top: 37px;
    }
    .salenema {
        margin-top: 370px;
        margin-left: 50px;
    }
    .sstar {
        margin-top: 24px;
        padding-left: 50px;
    }
    .stripednemat {
        width: 100px;
        margin-left: -850px;
    }
    .saksonmemat {
        width: 10px;
    }
    .asdfg1 {
        margin-left: -40px;
    }
    .asdfg2 {
        width: 150px;
        height: 200px;
    }
    .sdfg {
        font-size: 15px;
    }
    .asdfg22 {
        margin-top: 600px;
        margin-left: -480px;
    }
    .asdfg3 {
        width: 150px;
        height: 200px;
    }
    .asdfg3:hover {
        opacity: .7;
        transition: .6s;
    }
    .asdfg33 {
        margin-top: 600px;
    }
    .oxir {
        width: 150px;
        height: 200px;
    }
    .ooxirq {
        margin-left: -20px;
    }
    .ooxirqqq {
        margin-top: 400px;
        margin-left: -490px;
    }
    .ooxirqqqq {
        margin-top: 400px;
        margin-left: -10px;
    }
    .modern {
        font-size: 18px;
        padding: 30px;
    }
    .by {
        font-size: 16px;
    }
}